		body{
 			background: black;
 			color:white;

 			overflow-x: hidden;
 			margin:0;
 			font-family: arial,sans-serif,serif
 		}



 		.hdr{
 			position: sticky;
 			top: 0px;
 			z-index: 1;
 			background: black;
 			border-bottom:3px solid;
			border-image: linear-gradient(30deg,red,orange,yellow,green,blue,indigo,violet) 60;
		}
 		.fixedTable{
 			table-layout: fixed;
 			padding: 7px;
 			width:100%;
 		}
 		.siteName{
 			font-style: italic;
			background: linear-gradient(
			    60deg,
			    white,
			    yellow,
			    skyblue,
			    orange,
			    skyblue,
			    yellow,
			    white
			);
			-webkit-background-clip: text;
 			font-size: 25px;
 			color:transparent;
 		}
 		.hdr table tr th:first-child{
 			text-align: left;
 		}
 		/*
 		.hdr table tr th:last-child{
 			text-align: right;
 		}
 		*/
 		a{
 			text-decoration: none;
 			color:white;
 		}
 		.btn{
 			border-radius: 8px;
 			font-weight: bold;
 			transition: all 1s;
 		}

 		.btn:hover{
 			opacity: 0.8;
 			cursor: pointer;
 		}
 		.loginBtn{
 			padding: 10px 20px 10px 20px;
 			background: linear-gradient(
			    60deg,
			    #f79533,
			    #f37055,
			    #ef4e7b,
			    #a166ab,
			    #5073b8,
			    #1098ad,
			    #07b39b,
			    #6fba82
			);
			text-align: center;
			font-weight: bold;
 		}

 		@media screen and (max-width: 399px) {
 			.siteName{
 				font-size: 20px;
 			}
 			.loginBtn{
 				padding:10px;
 			}
		}

 		@keyframes fadeinout{
 			from{
 				opacity:0.8;
 			}
 			to{
 				opacity:0.4;
 			}
 		}


 		.animated{
 			background: skyblue;
 			animation:fadeinout infinite 1s;
 		}
 		.divTitle{
 			color:skyblue;
 			position: relative;
 		}



 		.preferencesHolder{
 			display:flex;
 			flex-wrap: wrap;
 			border-bottom: 1px solid;
 			border-image: repeating-linear-gradient(30deg,violet,green,yellow,red,green) 1;
 			padding-bottom: 35px;
 		}

 		.selectorHolder{
 			position: relative;
 			margin:10px 5px 0 0 ;
 		}

 		.selectorTable td{
 			padding:5px;
 			white-space: nowrap;
 			text-overflow: ellipsis;
 			overflow: hidden;
 			max-width: 200px;
 		}

 		.selectorTable  td:first-child{
 			border-right: 2px solid white;
 		}

 		.selectorTable{
 			border:3px solid;
			border-image: linear-gradient(
			    60deg,
			    #f79533,
			    #f37055,
			    #ef4e7b,
			    #a166ab,
			    #5073b8,
			    #1098ad,
			    #07b39b,
			    #6fba82
			) 1;

 		}



 		

 		.listHolder{
 			position:absolute;
 			top:100%;
 			z-index: 1;
 			left: 0px;
 			display: none;
 			max-height: 200px;
 			overflow-y: scroll;
 			width: 100%;
 			text-align: center;
 			background: green;
 		}

 		@keyframes slideright{
 			from{
 				width:0;
 			}

 			to{
 				width:100%;
 			}
 		}

 		.selectorHolder:hover .listHolder{
 			display:block;
 			animation: slideright 1s;
 		}

 		.listElement{
 			padding: 12px 0 12px 0;
 			position: relative;
 			overflow: hidden;
 			white-space: nowrap;
 			text-overflow: ellipsis;
 			overflow-x: hidden;
 		}

 		.listHolder div:not(:last-child){
 			border-bottom: 2px solid;
 			border-image: linear-gradient(
			    60deg,
			    #f79533,
			    #f37055,
			    #ef4e7b,
			    #a166ab,
			    #5073b8,
			    #1098ad,
			    #07b39b,
			    #6fba82
			) 1;
 		}

 		.listElement:hover{
 			background: white;
 			cursor: pointer;
 			color:green;
 		}

 		@keyframes ripple{
 			from{
 				opacity: 1;
 				transform: scale(0);
 			}
 			to{
 				opacity: 0;
 				transform: scale(50);
 			}
 		}

 		.animatedSpan{
 			animation: ripple 1s;
 			width:5px;
 			height: 5px;
 			border-radius: 50%;
 			position: absolute;
 			top:50%;
 			left:50%;
 			background: red;
 		}

 		.slidersContainer{
 			position: relative;
 			margin-top: 50px;
 		}
 		
 		.ageSelector{
 			height: 10px;
 			position: relative;
 			width: 200px;
 			border:0.5px solid;
 			border-image: linear-gradient(
			    60deg,
			    #f79533,
			    #f37055,
			    #ef4e7b,
			    #a166ab,
			    #5073b8,
			    #1098ad,
			    #07b39b,
			    #6fba82
			) 1;
 		}



 		.circleInSideAgeSelector{
 			height: 20px;
 			width: 20px;
 			border-radius: 50%;
 			background: skyblue;
 			position: absolute;
 			top:-5px;
 		}

 	
 		
 		#hintSpan{
 			height: 100%;
 			position: absolute;
 			background:	linear-gradient(
			    60deg,
			    white,
			    yellow,
			    skyblue,
			    orange,
			    skyblue,
			    yellow,
			    white
			);
 		}

 		.active{
 			width:50px;
 			height: 50px;
 			color:green;
 			z-index: 1;
 			top:-20px;
 			color:green;
 		}

 		.startBtn{
 			background: green;
 			font-weight: bold;
 			font-size: 18px;
 			color:white;
 			padding: 5px 10px 5px 10px;
 			position: sticky;
 			bottom: 10px;
 		}


 		#actionBtnIcon{
 			width:50px;
 		}

 		#videosContainer{
 			display: none;
 			margin-left: 5%;
 		}

 		
 		#remoteVideo,#ownVideo{
 			width:45%;
 			height: auto;
 			margin-top: 5px;
 			border:1px solid white;
 		}

 		@media screen and (max-width: 500px) {
 			#remoteVideo{
 				width:100%;
 				height: auto;
 			}
 			#ownVideo{
 				margin-left: 50%;
 				width:100px;
 				height: 100px;
 				transform: translateX(-50%);
 			}
 			#videosContainer{
 				margin:5px;
 			}
		}

		.statusMsgHolder{
			position: fixed;
			bottom: 0px;
			max-width: 100%;
			background: blue;		
		}

		

		.statusMsg{
			padding: 8px;
			table-layout: auto;
		}

		.statusMsg i{
			padding:5px;
		}


		.close{
			background: white;
			color:red;
			font-size: 20px;
			width: 20px;
			height: 20px;
			padding: 7px;
			border-radius: 50%;


		}

		.close:hover{
			background: red;
			color:white;
			transition-delay: 0.1s;
			cursor: pointer;
		}

		@keyframes fadeDown{
			from{
				bottom: : 0px;
				opacity: 1;
			}
			to{
				opacity: 0;
				bottom: 50px;
			}
		}

		@keyframes fadeUp{
			from{
				bottom: 50px;
				opacity: 0;
			}
			to{
				bottom: 0px;
				opacity: 1;
			}
		}

		.incomingAnimation{
			animation: fadeUp 0.8s;
		}

		.removeAnimation{
			animation: fadeDown 0.8s ;
		}

		#overlay{
			z-index: 2;
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0px;
			background:rgba(0,0,0,0.7);
		}


		#overlayContent{
			z-index: 3;
			width:330px;
			position: fixed;
			top: 50%;
			left:50%;

			background: black;
			transform: translate(-50%,-50%);
			padding: 15px;
			border:2px solid;
			border-image: linear-gradient(90deg,#f79533,#f37055,#ef4e7b,#a166ab,#5073b8,#1098ad,#07b39b,#6fba82) 1;
		}

		@media screen and (max-width: 399px) {
 			#overlayContent{
 				width:80%;
 			}
		}

		.smallBorder{
			background: linear-gradient(30deg,violet,green,yellow,red,green);
			height: 0.5px;
			display: block;
		}

		.margined{
			margin-top: 20px;
			margin-bottom: 20px;
		}

		.blockSpan{
			margin-top: 20px;
		}